.border-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.iconHeader{
    display: flex;
}
.icon-item{
    margin-left: 10px;
}
.btn-bt .MuiButtonBase-root{
    display: inline;
}
.btn-bt .MuiButtonBase-root::after{
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #000;
    transition: width .3s;
}
.btn-bt .MuiButtonBase-root:hover:after{
    width: 100%;
}