.control-footer{
    padding-top: 2rem;
    border-top:2px solid #e2e2e2
}
.footer-bg{
    background-color: #f5f5f5;
    
}
.footer-item h5{
    color:#0f136d;
    font-size: 12px;
}
.icon-footer{
    display: flex;
}
.icon-footer h4{
    font-size: 16px;
    color:#f36f36;
    font-weight: 300;
}
.icon-footer h5{
    font-size: 14px;
    color:#0f136d;
}
.text-footer{
    padding: 0 10px;
}
.payment{
    padding: 4rem 0;
}

.deliver-icon{
    display: grid;
    grid-template-columns: repeat(3,minmax(80px,1fr));
    padding-top: 15px ;
 
}
.item-icon img{
    width: 100%;
}
.footer-text{
    background-color: #f5f5f5;
}
.footer-text-item{
    margin-top: 20px 
}
.footer-text-item{
    margin-top: 2rem 

}
.footer-text-item h4{
    font-size: 12px;
    color:rgb(136,136,136);
    padding-Top: '10px';
    color: '#606060';
    line-height: 1.5rem;
}