.control {
  position: relative;
  
}

.slice img {
  padding-top: 5.5rem;
  width: 100%;
  display: block;
  
}

.dot {
  height: 15px;
  width: 15px;
  background-color: #000;
  border-radius: 50%;
  display: inline-block;
}

.container-dot {
  position: absolute;
  bottom: 0;
  left: 50%;
}

.dot.active {
  background: rgb(32, 32, 32);
  transition: 1s;
}

.dot {
  background-color: #ddd;
  margin: 10px 5px;
}
